:root
    {
        /*cores principais*/
            --cor-principal: #1447E6;
            --cor-principal-escura: #193CB8;
            --cor-principal-clara: #155DFC;

        /*Detalhes de letra*/
            /*texto contra fundo azul*/
            --detalhe-azul: #1C398E;

            /*Texto contra fundo verde*/
            --detalhe-verde: #0D542B;

            /*Texto contra fundo amarelo*/
            --detalhe-laranja: #A65F00;

            /*Texto em elemento cinza*/
            --detalhe-cinza: #364153;

        /*Cores neutras*/

            /*h2, Fundo footer*/
            --cor-preta: #1E2939;

            /*paragrafos*/
            --cor-cinza-escuro: #4A5565;

            /*___________________________________________________________*/

            /*paragrafo do footer*/
            --cor-cinza: #99A1AF;

            /*Fundo não-focado*/
            --cor-cinza-claro: #E9F0FF;

            /*h1, fundo-focado*/
            --cor-branco: #FFFFFF;

        /*Cores Extras*/

            /*___________________________________________________________*/    

            --borda-verde: #00A63E;

            --fundo-verde: #F0FDF4;

            /*___________________________________________________________*/

            --borda-roxo: #9810FA;

            --fundo-roxo: #FAF5FF;

            /*___________________________________________________________*/

            --borda-laranja: #FF6900;

            --fundo-laranja: #FFEDD4;

            /*___________________________________________________________*/

            --borda-amarela: #FFF085;

            --fundo-amarelo: #FEFCE8;

            /*___________________________________________________________*/

            --borda-azul-claro: #BEDBFF;
            
            --fundo-azul-claro: #EFF6FF;

            /*___________________________________________________________*/

            --borda-verde-claro: #B9F8CF;

            --fundo-verde-claro: #F0FDF4;
    }